* {
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
}

body {
    width: 90%;
    margin: auto;
    background: #ffff;
}

header {
    background: #3D7EF1;
    width: 100%;
    margin: auto;
}

.header {
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    display: block;
}

.header .textTop {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    margin: 0 0;
}

.header .textTop .items {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
    color: lightgray;
}

.header .container {
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.logo {
    width: 140px;
    display: flex;
}

.nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-weight: 600;
}

.page:hover {
    color: black;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.title {
    font-weight: 700;
}

.title:nth-child(2) {
    font-weight: 10;
}

.container {
    display: flex;
    width: 90%;
    margin: 60px auto;
    justify-content: space-around;
}

.box1 {
    width: 20%;
    background: #3D7EF1;
    padding: 10px;
    padding-left: 30px;
    color: white;
    height: 520px;
    position: relative;
}

.box1 .title {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
    position: relative;
}

.box1 .title::after {
    content: '-';
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 100px;
}
.box1 .text{
    width: 90%;
    margin-bottom:30px;
    line-height: 25px;
}
.btn {
    text-transform: capitalize;
    font-weight: 700;
    position: absolute;
    width: 30%;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    bottom: 20px;
    right: 20px;
    border: 2px solid white;
}
.box2{
    width: 50%;
    background: #aaaaaa;    

}
.img{
    width: 100%;
    height: 400px;
    background: #3D7EF1 url('./assets/img.jpg') content-box center;
    background-size: 100%;
}
.box2 .content{
    width: 80%;
    margin: 20px auto;
    line-height: 25px;
}
.content .title{
    margin-bottom: 10px;
}
.content2{
    width: 90%;
    background: #3D7EF1;
    margin: auto;
    display: flex;
    height: 100%;
}
.content2 .title::after{
    content: none;
}
.content2 .box1{
    margin-left: 60px;
    margin-top: 60px;
    padding:0 0;
}
.content2 .box1 .title{
    margin:0 0;
    margin-bottom: 60px;
}

.content2 .box2{
    margin-left: 50px;
    margin-top: 60px;
    background: rgba(61, 127, 241);
    color: #fff;
    width: 65%;
}
.content2 .title{
    text-transform: capitalize;
    font-size: 32px;
}
.content2 .box2 p{
    margin-bottom: 30px;
}
.table{
    width: 100%;
    color: #000;
    background: #fff;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.table .part1{
    width: 60%;   
}
.part1 h2{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.part1 .list{
    line-height: 30px;
    border:2px solid #000;
    border-top:none;
    border-left:none;
    border-right:none;
    width: 95%;
    font-size: 16px;
}
.table .part2{
    width: 40%;
}
.part2 h2{
    text-transform: capitalize;
    margin-bottom: 30px;
}
.form{
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
    display:flex;
}
.form .part1{
    width: 50%;
    line-height: 25px;
}