* {
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
}

@media screen and (max-width:2000px){
body {
    width: 90%;
    margin: auto;
    background: #ffff;
}
header {
    background: #3D7EF1;
    width: 100%;
    margin: auto;
}
.header {
    width: 90%;
    margin: auto;
    padding: 10px;
    color: white;
    display: block;
}

.header .textTop {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    margin: 0 0;
}

.header .textTop .items {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
    color: lightgray;
}

.header .container {
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.logo {
    width: 140px;
    display: flex;
}

.nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-weight: 600;
}

.page:hover {
    color: black;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.title {
    font-weight: 700;
}

.title:nth-child(2) {
    font-weight: 10;
}

.container {
    display: flex;
    width: 90%;
    margin: 30px auto !important;
    justify-content: space-around;
}

.box1 {
    width: 20%;
    background: #3D7EF1;
    padding: 10px;
    padding-left: 30px;
    color: white;
    height: 520px;
    position: relative;
}

.box1 .title {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
    position: relative;
}

.box1 .title::after {
    content: '-';
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 100px;
}
.box1 .text{
    width: 90%;
    margin-bottom:30px;
    line-height: 25px;
}
.btn {
    text-transform: capitalize;
    font-weight: 700;
    position: absolute;
    width: 30%;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    bottom: 20px;
    right: 20px;
    border: 2px solid white;
}
.box2{
    width: 50%;
    background: #aaaaaa;    

}
.img{
    width: 100%;
    height: 370px;
    background: #3D7EF1 url('./assets/img.jpg') content-box center no-repeat;
    background-size: 100%;
}
.box2 .content{
    width: 80%;
    margin: 20px auto;
    line-height: 25px;
}
.content .title{
    margin-bottom: 10px;
}
.content2{
    width: 90%;
    background: #3D7EF1;
    margin: auto;
    display: flex;
    height: 100%;
}
.content2 .title::after{
    content: none;
}
.content2 .box1{
    margin-left: 60px;
    margin-top: 60px;
    padding:0 0;
}
.content2 .box1 .title{
    margin:0 0;
    margin-bottom: 60px;
}
.content2 .box2 .title{
    font-size: 30px;
}

.content2 .box2{
    margin-left: 50px;
    margin-top: 60px;
    background: rgba(61, 127, 241);
    color: #fff;
    width: 65%;
}
.content2 .title{
    text-transform: capitalize;
    font-size: 32px;
}
.content2 .box2 p{
    margin-bottom: 30px;
}
.table{
    width: 100%;
    color: #000;
    background: #fff;
    padding:20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.table .part1{
    width: 60%;   
}
.part1 h2{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.part1 .list{
    line-height: 30px;
    border:2px solid #000;
    border-top:none;
    border-left:none;
    border-right:none;
    width: 95%;
    font-size: 16px;
}
.table .part2{
    width: 40%;
}
.part2 h2{
    text-transform: capitalize;
    margin-bottom: 30px;
}
.form{
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
    display:flex;
}
.form .part1{
    width: 50%;
    line-height: 25px;
}
.part1 .title{
    position: relative;
    font-size: 34px;
    margin-bottom: 30px;
}
.part1 .title::after{
content: "__";
position: absolute;
bottom:5px;
left: -1px;
padding:0;
margin:0;
font-size: 72px;
}
.box1 .title{
    font-size: 30px;
}
.form .part2{
position: relative;
left: 0;
margin: 0 auto;
width: 40%;
}
.part2 .send{
    left:0;
    bottom:-30px;
    border: #3D7EF1 4px solid;
    color: #3D7EF1;
    width: 90px;
}
.part2 input{
    margin-bottom: 10px;
    width: 90%;
    height: 25px;
}
.part2 h3{
    font-size: 18px;
}
.part2 textarea{
    width: 90%;
    resize: none;
    height: 100px;
    margin-bottom: 30px;
}
.footer{
    background: #000;
    height: 200px;
    width: 100%;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
.footer p{
    width: 40%;
    margin:auto;
    color:#aaaaaa;
}
.footer .logo{
    position: absolute;
    bottom: 20px;
    width:  220px;
    right:0;
}
.footer .logo .title{
    font-weight: 100;
    font-size: 14px;
    align-content: center;
    text-align: center;
    color: #aaa;
}
.footer .logo .title:nth-child(2){
    font-weight:600;
    color:#fff;
}
.footer .logo .title:nth-child(4){
    margin-left: 10px;
    color:#aaaaaa;
}
.footer .wrapper{
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 40px;
    margin-right:40px ;
}
.wrapper .item{font-weight: 600;}
}

@media screen 
and (min-width:768px)
and (max-width:1024px){
    body{width: 100%!important;}
    header{width:100%;}
    .textTop{width: 100%!important;}
    .textTop .items{font-size: 11px!important;}
    .header .container .nav {width: 60%}
    .container{margin:0 0; width: 100%;}
    .container .box1{width: 35%!important; padding : 15px;}
    .container .box2{width: 60%;}
    .box2 .img{ background: cover; height: 340px;}
    .box2 .content{margin: 40px auto;}
    .content2{width: 99%!important;}
    .content2 .box1{width: 30%;}
    .content2 .title {font-size: 28px;}
    .content2 .table{width: 90%!important; padding:15px;}
    .form{width: 90%;}
    .form .part1 .title{font-size: 26px;}
    .form .part1 .title::after{ content:'__'; font-size: 40px;}
    .footer p{font-size: 14px;}
    .footer .wrapper{width: 55%;margin:40px 10px;}
    .footer .wrapper .item{font-size: 16px;}
    }

@media screen and (min-device-width:319px) and (max-device-width:736px){
body{width: 100%;margin:auto;}
header{width: 100vw;margin:0 0;}
.header {width: 99%; padding:2px;}
.header .container{width: 100%;justify-content: space-evenly;}
.header .logo {font-size: 15px;width: 40%;}
.header .nav{width: 50%;display: grid;grid-template-areas: 'a a a'}
.header .nav .page{font-size: 10px;width: 100%;}
.header .textTop{width: 100%; margin: 0 0;}
.header .textTop .items{margin: 0 4px;font-size: 8px;}
.container{display: block; height: auto;margin:10px 0 !important;padding:0;}
.container .box1 .btn{bottom:0;right: 10px; width: 20%}
.container .box1{width: 99vw;height:auto; margin:auto;padding:10px 0;}
.container .box2{width: 99vw ;height:auto; margin:10px auto;}
.container .box2 .img{width: 100% ;height:200px; margin:10px 0;}
.container .box2 .content{width: 100% ;height:auto;margin:2px 5px;}
.container .box2 .content .text{font-size: 14px;}
.content{width: 99%;}
.content2{width: 100%;display: block; padding: 10px 0;height: auto;background-color: #fff;}
.content2 .box1{width: 99vw !important; height: auto;margin:0 !important; padding: 0;}
.content2 .box1 .title{height: auto; margin: 10px;}
.content2 .box2{width: 99vw;margin:0 0; height: auto;}
.content2 .box2 .title{margin:10px;}
.content2 .box2 .table{padding:0 0;width: 100%;}
.form{width: 95%; padding:0;margin:10px 5px; display: block; height: auto;}
.form .part1{width: 100%; margin:10px 0; height: auto;}
.form .part1 p{font-size: 14px;}
.form .part2{width: 100%; margin:auto;height: 300px;}
.form .part2 input{width: 99%;}
.form .part2 .message{width: 99%;}
.form .part2 .send{bottom:-10px;}
footer{width: 100%;overflow: hidden;}
.footer p{font-size: 12px;margin:5px;width: 30%;}
.footer .wrapper{margin: 0; width: 50%;overflow: visible;}
.footer .wrapper .pages {margin: 0; width: 100%;display:grid;grid-template-areas: "a a a"}
.footer .wrapper .item{width: auto;height: 50px;font-size: 14px;  margin-top: 20px;}
.footer .wrapper .logo{right: 20px;}

}